<ng-template #rowContent>
  <ion-checkbox
    justify="start"
    labelPlacement="end"
    [checked]="todo().done"
    (ionChange)="toggled.emit()"
  >
    <ion-label [class.todo-done]="todo().done">{{ todo().text }}</ion-label>
  </ion-checkbox>
</ng-template>

@if (isMobile()) {
  <!-- Touch viewport: delete is a swipe action, keeping the row itself compact. -->
  <ion-item-sliding #slidingItem>
    <ion-item lines="full">
      <ng-container [ngTemplateOutlet]="rowContent"></ng-container>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option
        color="danger"
        (click)="onSwipeRemove(slidingItem)"
        [attr.aria-label]="'Aufgabe ' + todo().text + ' löschen'"
      >
        <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
      </ion-item-option>
    </ion-item-options>
  </ion-item-sliding>
} @else {
  <!-- Desktop (mouse): swiping isn't discoverable, so delete stays a plain visible button. -->
  <ion-item lines="full">
    <ng-container [ngTemplateOutlet]="rowContent"></ng-container>

    <ion-button
      slot="end"
      fill="clear"
      color="medium"
      (click)="remove.emit()"
      [attr.aria-label]="'Aufgabe ' + todo().text + ' löschen'"
    >
      <ion-icon slot="icon-only" name="trash-outline"></ion-icon>
    </ion-button>
  </ion-item>
}
