<ion-header>
  <ion-toolbar>
    <ion-title>Über die App</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p><strong>Davids Umbrella</strong> sagt dir, ob du für den Rest des heutigen Tages einen Schirm brauchst.</p>
  <p>
    Wetterdaten: <a href="https://api.met.no/weatherapi/locationforecast/2.0/documentation" target="_blank" rel="noopener noreferrer">Data from MET Norway</a>
  </p>
  <p>Ein Schulprojekt von David.</p>
</ion-content>
