<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Todos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Todos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list [inset]="true">
    <ion-item lines="none">
      <ion-input
        placeholder="Neue Aufgabe für heute"
        autocomplete="off"
        [value]="newTodoText()"
        (ionInput)="newTodoText.set($event.detail.value ?? '')"
        (keyup.enter)="addTodo()"
        aria-label="Neue Aufgabe"
      ></ion-input>
      <ion-button
        slot="end"
        fill="clear"
        [disabled]="!newTodoText().trim()"
        (click)="addTodo()"
        aria-label="Aufgabe hinzufügen"
      >
        <ion-icon slot="icon-only" name="add-outline"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Heute</ion-label>
      <ion-note slot="end">{{ todayOpenTodos().length }}</ion-note>
    </ion-list-header>

    <ion-reorder-group [disabled]="false" (ionReorderEnd)="onReorder($event, todayOpenTodos())">
      @for (todo of todayOpenTodos(); track todo.id) {
        <app-todo-item [todo]="todo" (toggled)="onToggle(todo)" (remove)="onRemove(todo)"></app-todo-item>
      } @empty {
        <ion-note class="empty-hint">Nichts mehr offen.</ion-note>
      }
    </ion-reorder-group>
  </ion-list>

  @if (earlierOpenTodos().length > 0) {
    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label>Frühere, noch offene Todos</ion-label>
        <ion-note slot="end">{{ earlierOpenTodos().length }}</ion-note>
      </ion-list-header>

      <ion-reorder-group [disabled]="false" (ionReorderEnd)="onReorder($event, earlierOpenTodos())">
        @for (todo of earlierOpenTodos(); track todo.id) {
          <app-todo-item
            [todo]="todo"
            [dateLabel]="dateLabelFor(todo)"
            (toggled)="onToggle(todo)"
            (remove)="onRemove(todo)"
          ></app-todo-item>
        }
      </ion-reorder-group>
    </ion-list>
  }

  @if (doneTodos().length > 0) {
    <ion-list [inset]="true">
      <ion-list-header>
        <ion-label>Erledigt</ion-label>
        <ion-note slot="end">{{ doneTodos().length }}</ion-note>
      </ion-list-header>

      <ion-reorder-group [disabled]="false" (ionReorderEnd)="onReorder($event, doneTodos())">
        @for (todo of doneTodos(); track todo.id) {
          <app-todo-item
            [todo]="todo"
            [dateLabel]="dateLabelFor(todo)"
            (toggled)="onToggle(todo)"
            (remove)="onRemove(todo)"
          ></app-todo-item>
        }
      </ion-reorder-group>
    </ion-list>
  }
</ion-content>
