<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Heute</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Heute</ion-title>
    </ion-toolbar>
  </ion-header>

  <app-demo-notice
    text="Die Habits sind Beispieldaten. Abhaken, Anlegen und Bearbeiten funktionieren in dieser Version noch nicht."
  ></app-demo-notice>

  <ion-list [inset]="true">
    <ion-list-header>
      <ion-label>Deine Habits</ion-label>
      <ion-note slot="end">{{ doneCount() }} / {{ entries().length }}</ion-note>
    </ion-list-header>

    @for (entry of entries(); track entry.habit.id) {
      <app-habit-item [entry]="entry"></app-habit-item>
    }
  </ion-list>
</ion-content>
